@font-face {
    src: url(/Websites/Fonts/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}

body{
    font-family: Roboto-Regular, Courier, monospace;
    background-color: rgb(17, 17, 17);
    color: white;
}

.buttons .btn{
    font-size: 100px;
    background-color: rgb(17, 17, 17);
    padding: 30px;
    margin-right: 10px;
    border: 5px solid;
    border-color: white;
    border-radius: 100px;
    cursor: pointer;

}

#rock{
    width: 196px;
}

#scissors{
    width: 196px;
}

.text p{
    font-size: 25px;
}
#score{
    font-size: 20px;
}